<html>
	<head>
		<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	</head>
	<body>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}

		<h1>Registration</h1>
		<form action='/users/create' method='POST'>
			First Name: <input type='text' name='first_name'>
			<br>
			Last Name: <input type='text' name='last_name'>
			<br>
			Email: <input type='email' name='email'>
			<br>
			Password: <input type='password' name='password'>
			<br>
			Confirm Password: <input type='password' name='password_confirm'>
			<br>
			<input type='submit' name='registerbutton' value='Register'>
		</form>	

		<h1>Login</h1>
		<form action='/users/login' method='POST'>
			Email: <input type='email' name='email'>
			<br>
			Password: <input type='password' name='password'>
			<br>
			<input type='submit' name='loginbutton' value='Login'>
		</form>

	</body>
</html>
